body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

.jumbotron {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

.card-footer button {
  width: 100%;
}

.request {
  background-color: white;
}

.result {
  background-color: black;
}