body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

.jumbotron {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

.card-footer button {
  width: 100%;
}

#console .card-body {
  margin-bottom: -1rem;
}

.request, .result {
  background-color: #FFFFCC;
  height: auto;
  min-height: 150px;
}